флур
темы <a href="/">НАЧАТЬ С НАЧАЛО</a>
<!-- Выбор кол-во ярусов -->
<div id="pageFloor" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-theme">
    <div class="msg-box">
      <h4 class="msg-box_date"> Выбирите количество ярусов на торте?</h4>
      <p class="msg-box_text">Для продолжения нажмите кнопку "ДАЛЕЕ"!</p>
    </div>

    <div class="col-md-8">
      <div class="shapeFloor">
        <div id="floor" class=""></div>
      </div>
    </div>
    <div class="col-md-4">
      <h4 id="price_floor" class="price_floor"></h4>
      <h4 id="weight_floor" class="weight_floor"></h4>

      <div class="floor">
        <h4 id="floor_number" class="floor_number"></h4>
        <div id="less" class="less">МЕНЬШЕ</div>
        <div id="more" class="more">БОЛЬШЕ</div>
        <h4 class="floor_title">количество ярусов</h4>
        <div id="nextFromFloor" class="nextFromFloor">ДАЛЕЕ</div>
      </div>
    </div>
  </div>
</div>
<!-- конец выбора формы -->
