темы <a href="/floor">НАЧАТЬ С НАЧАЛО</a>

<!-- Выбор формы -->
<div id="pageShape" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-theme">
    <div class="msg-box">
      <h4 class="msg-box_date"> Какую хотите форму торта?</h4>
      <p class="msg-box_text">Для продолжения нажмите на одну из форм торта указанную ниже!</p>
    </div>
    <div class="col-md-4">
      <div id="shape-circle" class="shape">
        <div class="circle"></div>
        <h3>Круг</h3>
      </div>
      <div id="shape-rectangle" class="shape">
        <div class="rectangle"></div>
        <img src="" alt="">
        <h3>Прямоугольник</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div id="shape-heart" class="shape">
        <div class="heart"></div>
        <img src="" alt="">
        <h3>Сердце</h3>
      </div>
      <div id="shape-cloud" class="shape">
        <div class="cloud"></div>
        <img src="" alt="">
        <h3>Облако</h3>
      </div>

    </div>
    <div class="col-md-4">
      <div id="shape-hexahedron" class="shape">
        <div class="hexahedron"></div>
        <img src="" alt="">
        <h3>Шестигранник</h3>
      </div>
    </div>

  </div>
</div>
<!-- конец выбора формы -->